@import 'tailwindcss';

@theme {
	--color-transparent: transparent;
	--color-*: initial;
	/*--color-primary-50: oklch(0.99 0.15 13);
	--color-primary-100: oklch(0.95 0.2 13);
	--color-primary-200: oklch(0.92 0.2 13);
	--color-primary-300: oklch(0.87 0.2 13);
	--color-primary-400: oklch(0.82 0.2 13);
	--color-primary-500: oklch(0.72 0.2 13);
	--color-primary-600: oklch(0.52 0.2 13);
	--color-primary-700: oklch(0.42 0.2 13);
	--color-primary-800: oklch(0.32 0.2 13);
	--color-primary-900: oklch(0.22 0.2 13);
	--color-primary-950: oklch(0.12 0.2 13);
	--color-primary: oklch(0.99 0.15 13);*/
	/*--color-text: var(--color-primary-50);*/

	--color-primary: oklch(0.72 0.2 13);
	--color-bg-dark: oklch(0.1 0.15 13);
	--color-bg: oklch(0.25 0.15 13);
	--color-bg-light: oklch(0.35 0.25 13);
	--color-text: oklch(0.92 0.04 13);
	--color-text-muted: oklch(from var(--color-text) 0.6 c h);
	--color-border: oklch(0.3 0.15 13);
	--color-highlight: oklch(0.6 0.15 13);
}

:root,
body {
	box-sizing: border-box;
	color: var(--color-text);
}
